.search {
	width: 42%;
	position: absolute;
	top: 135px;
	z-index: 10;
	right: 0;

	@media (max-width: 768px) {
		width: 400px;
	}
	@media (max-width: 630px) {
		top: 80px;
	}
	@media (max-width: 425px) {
		width: 100%;
	}
}
