

// colors 

$header-background-color: #ECCFB5;
$footer-background-color: #3C210A;
$header-text-color:#372e24;
$footer-text-color: #F1DAC5;
$buttonLight-text-color: #74614D;
$buttonDark-text-color: #F1DAC5;
$main-text-color: #372E24;
$error-color: #F45656;
$input-background-color: #DBB593;
$main-background-color: #FFF2E3;
$block-background-color: #F1DAC5;

// height and width

$footer-height: 400px;
$header-height: 130px;
$modal-width: 725px;
$item-img-width: 500px;
$item-img-height: 700;
$item-img-specific-width: 600px;
$item-img-specific-height: 999px;
$collection-img-width: 1679px;
$collection-img-height: 850px;
$news-img-width: 1680px;
$news-img-height: 350px;
$selectButton-borderRaduis: 45px;

// font-size

$title-size: 48px;
$text-size: 32px;
$button-size: 28px;
$select-size: 28px;
