.dropdown {
	position: absolute;
	z-index: 50;
	top: 130px;
	right: -115px;

	@media (max-width: 1919.98px) {
		right: -15px;
	}
}
.dropdownItem {
	padding: 25px 92px;
	font-size: 24px;
	color: #372e24;
	background: #f1dac5;
	font-weight: 400;

	&:not(:last-child) {
		margin-bottom: 1px;
	}
	a {
		color: inherit;
	}
}
