.imgWrapper {
    aspect-ratio: 0.8/1;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s linear;

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media (any-hover: hover) {
        &:hover {
            .btnWrapper {
                opacity: 1;
            }
        }
    }
}
.btnWrapper {
    position: absolute;
    opacity: 0;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    transition: 0.3s linear;
}
