@use './../../styles/variables.scss' as mixin;
.blur {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 5000;
	opacity: 1;
	transition: 0.2s linear;
	display: flex;
	align-items: center;

	& .active {
		opacity: 1;
	}
}
.register {
	padding: 36px 60px 73px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: mixin.$block-background-color;
	width: 725px;
	margin: 0 auto;

	@media (max-width: 767.98px) {
		padding: 36px 30px 73px;
	}
	@media (max-width: 374.98px) {
		padding: 30px 20px;
	}
}
.logo {
	@media (max-width: 767.98px) {
		display: none;
	}
}
