@use './../../styles/variables.scss' as mixin;

.generalForm {
	display: flex;
	flex-direction: column;
	width: 740px;

	@media (max-width: 767.98px) {
		width: auto;
	}
}
.title {
	font-size: mixin.$text-size;
	color: mixin.$main-text-color;
}
.profileForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.addressForm {
	display: flex;
	flex-direction: column;
}
