@use './../../styles/variables.scss' as mixin;

.footer {
	background-color: mixin.$footer-background-color;
	color: #fff;
	padding: 52px 0 84px;

	@media (max-width: 375px) {
		padding: 15px 0;
	}
}
.container {
	max-width: mixin.$news-img-width;
	margin: 0 auto;
	padding: 0 15px;
}
.footerItem {
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: clamp(0.938rem, -0.156rem + 5.47vw, 3.875rem);
	gap: 20px;
}
.socialIcon {
	transition: 0.1s linear;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.3);
		}
	}
	& * {
		fill: mixin.$footer-text-color;
	}
}
.content {
	display: flex;
	justify-content: space-between;
}
.itemsFooter {
	@media (max-width: 375px) {
		display: none;
	}
}
.footerColumn {
	display: flex;
	flex-direction: column;
}

.title {
	color: mixin.$footer-text-color !important;
	margin: 0 0 22px 0 !important;
	font-weight: 500 !important;
	pointer-events: none;
}
.label {
	color: mixin.$footer-text-color !important;
	font-weight: 300 !important;
	margin: 0 !important;
	font-size: 20px;
	transition: 0.2s linear;

	@media (any-hover: hover) {
		&:hover {
			color: mixin.$input-background-color !important;
		}
	}

	&:not(:last-child) {
		margin-bottom: 22px !important;
	}
}

.mobileFooter {
	display: none;

	@media (max-width: 375px) {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
